*{
    margin: 0;
    padding: 0;
    
    
}

.spinner {
    width:120px;
    height: 120px;
    background-color: #f7e706;
    background-image: url(medias/smiley-emoticon-laughter.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  
    animation: bounce 10s infinite alternate;
    margin: 20px auto;
    display: none; 
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 900px;
height: 400px;
margin: auto;
margin-top: 10px;
background-image: url(medias/762feaedfbad9cd8c0899d8396c3d953.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }
  .container h1 {
    color: white;
    font-family: arial;
    
  }
  .container #getNewJokeButton {
    height: 30px;
    width: 170px;
    background-color: yellow;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
  }

  .container p{
    color: white;
    font-size: 25px;
    width: 300px;
    height: 100px;
    margin-top: 20px;

  }


  .container {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  @media screen and (max-width: 230px) {
    .container {
      width: 100px;
      height: 200px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .container {
      width: 400px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 720px) {
    .container {
      width: 550px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 920px) {
    .container {
      width: 600px;
      height: 300px;
    }
  }
  